.feature {
    list-style: none;
    display: inline-flex;
    gap: 30px;
    flex-wrap: wrap;


    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    @media screen and (min-width: 1200px) {

        display: flex;

    }

    &__title {
        text-align: center;
        color: var(--title-text-color);
        @include FontWSL (700, 14px, 1.15);

        text-transform: uppercase;
        margin-bottom: 10px;

        @media screen and (min-width: 768px),
        (min-width: 1200px) {

            text-align: left;

        }

    }

    &__text {
        @include FontWSL (400, 14px, 1.71);

    }
}

.feature__item {
    max-width: 450px;


    @media screen and (min-width: 768px) {

        max-width: 354px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 270px;
    }




    &::before {
        content: '';
        display: block;
        height: 120px;

        background-color: #f5f4fa;
        border-radius: 4px;
        background-repeat: no-repeat;
        background-position: center;

        margin-bottom: 30px;
    }
}

.icon-1::before {
    content: '';
    background-image: url(../images/icon/antenna.svg);
}

.icon-2::before {
    content: '';
    background-image: url(../images/icon/clock.svg);
}

.icon-3::before {
    content: '';
    background-image: url(../images/icon/diagram.svg);
}

.icon-4::before {
    content: '';
    background-image: url(../images/icon/astronaut.svg);
}