.header-container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    display: block;
    align-items: center;
    width: 480px;
    padding: 16px 15px;

    @media screen and (min-width: 768px) {
        width: 768px;
        padding: 0;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

.main-nav {
    margin-left: auto;
    margin-right: auto;
    width: 480px;
    display: flex;
    align-items: center;
    padding: 0px 15px;


    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

.site-nav {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        align-items: center;
        position: relative;
        margin-left: 88px;
        gap: 50px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 93px;



    }


}

.site-nav__link {
    color: var(--title-text-color);
    text-decoration: none;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    transition: var(--anim);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover,
.site-nav__link:focus {
    color: var(--accent-color);
}

.site-nav .current {
    color: var(--accent-color);
}


.auth-nav__item:nth-last-child(n) {
    margin-bottom: 10px;

}

.auth-nav {
    margin-top: 21px;
    display: none;

    &__icon {
        fill: currentColor;
        margin-right: 8px;


        @media screen and (min-width: 1200px) {
            margin-right: 10px;
        }
    }

    @media screen and (min-width: 768px) {
        display: block;

        margin-left: auto;

    }

    @media screen and (min-width: 1200px) {
        gap: 50px;
        display: flex;
        margin-top: 0;
    }
}

.auth-nav__link {
    display: flex;
    align-items: center;



    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;


    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);




    @media screen and (min-width: 1200px) {
        padding-top: 32px;
        padding-bottom: 32px;
        margin: 0;

        font-size: 14px;
        line-height: 1.15;

    }

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}