.logo {
    color: var(--accent-color);

    font-family: 'Raleway', sans-serif;
    @include FontWSL (700, 24px, 1.16);



    text-decoration: none;

    @media screen and (min-width: 1200px) {

        @include FontWSL (700, 26px, 1.15);
    }
}

.studio {
    color: #000000;
    font-family: 'Raleway', sans-serif;

}

.studio__white {
    color: var(--primary-white-color);

    @include FontWSL (700, 24px, 1.16);
    font-family: 'Raleway', sans-serif;

    text-decoration: none;

    @media screen and (min-width: 1200px) {

        @include FontWSL (700, 26px, 1.15);
    }
}