.section {
    padding-top: 94px;
    padding-bottom: 94px;

    margin-left: auto;
    margin-right: auto;

    display: block;
}

.conteiner {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.conteiner-footer {
    align-items: baseline;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 70px;
}