:root {
    --primary-text-color: #757575;
    /* var(--primary-text-color) */
    --title-text-color: #212121;
    /* var(--title-text-color) */
    --accent-color: #2196f3;
    /* var(--accent-color) */
    --primary-white-color: #ffffff;
    /* var(--primary-white-color) */
}